@media (max-width: 640px) {
    .logo,
    .subscribe-and-feedback {
        width: 50%;
    }

    .subscribe-and-feedback {
        flex-direction: column;
    }
    .feed-back_container {
        flex-wrap: wrap;
    }
    .feed-back_form {
        padding-bottom: 15px;
        width: 100%;
    }
    .basket {
        margin-left: 0;
        width: 45%;
    }
    .call-form {
        margin-left: 0px;
        width: 45%;
    }
    .navigation {
        flex-wrap: wrap;
    }
    .banner {
        background-size: 100%;
    }
    .__extraBold-max,
    .__semiBold {
        font-size: 20px;
    }
    .main-content {
        text-shadow: 0 0 10px white;
    }
    .catalog__card-wrapper,
    .products_catalog-range,
    .catalog__card {
        width: 100%;
    }
    .__position-abs {
        position: static;
    }
    .products_catalog-tea-title-tea-image,
    .products_catalog-tea-title-range-image,
    .products_catalog-tea-title-gifts-image,
    .grade-of-tea {
        padding: 0;
    }
    .products_catalog-tea-button {
        order: 2;
    }
    .products_catalog-tea-title-cups-image {
        order: 1;
    }
    .services {
        flex-direction: column;
        align-items: center;
    }
    .services_feature {
        transform: none;
        opacity: 1;
        width: 100%;
    }
    .newProducts-title-buttons {
        display: flex;
    }
    .newProducts-title {
        padding-left: 0px;
        flex-direction: column;
    }
    .left-elements {
        padding-bottom: 10px;
    }
    .ring-button--small {
        width: 70px;
        height: 70px;
    }
    .newProducts__card-wrapper {
        overflow: hidden;
    }
    .newProducts__card-wrapper--block {
        min-width: 250px;
    }
}