.lingonberry-tea {
    bottom: -25px;
    right: -40px;
}
.grade-of-tea {
    padding-left: 165px;
    bottom: -500%;
    right: 0;
}
.tea-set {
    bottom: -220px;
    right: -50px;
}
.gifts {
    bottom: -90px;
    right: -12px;
}