.services {
    background: #e8472c url("../../images/diagonal-zebra.png") 65% 50% repeat-y;
    display: flex;
    margin-top: 150px;
    justify-content: space-around;
}
.services-img {
    width: 100%;
}
.red-menu-img {
    position: absolute;
    z-index: -1;
}
.services_feature {
    line-height: 1.5;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-align: center;
    transform: scale(0);
}
.services_feature-first {
    transform: scale(1);
    transition: all 300ms ease-in-out 0;
}
.services_feature-second {
    transform: scale(1);
    transition: all 300ms ease-in-out 1300ms;
}
.services_feature-third {
    transform: scale(1);
    transition: all 300ms ease-in-out 2600ms;
}
.services_feature-fourth {
    transform: scale(1);
    transition: all 300ms ease-in-out 3900ms;
}
.services_feature-fifth {
    transform: scale(1);
    transition: all 300ms ease-in-out 5200ms;
}

.services_feature-icon {
    position: relative;
    height: 94px;
    width: 94px;
}
.services_feature-icon::before,
.services_feature-icon::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
}
.services_feature-icon::before {
    left: 0;
    bottom: 0;
    border-left: 1px solid #fff;    
    border-bottom: 1px solid #fff;
}
.services_feature-icon::after {
    right: 0;
    top: 0;
    border-right: 1px solid #fff;    
    border-top: 1px solid #fff;
}
.services_feature-title {
    font-family: "Montserrat-Bold";
    text-transform: uppercase;
}
.services_feature-discription {
    font-family: "Montserrat-Light";
}
/* .advantages {
    display: flex;
    justify-content: space-around;
    height: 218px;
    align-items: baseline;
    text-align: center;
    color: white;
}
.advantages_item {
    z-index: 1;
}
.angle {
    padding-left: 26px;
}
.png-one {
    background-image: url(../images/svg/001-delivery-truck.svg);
}
.png-two {
    background-image: url(../images/svg/003-best.svg);
}
.png-three {
    background-image: url(../images/svg/002-online-shop.svg);
}
.png-four {
    background-image: url(../images/svg/004-like.svg);
}
.png-five {
    background-image: url(../images/svg/005-order.svg);
}
