.services {
    background: #e8472c url("../../images/diagonal-zebra.png") 65% 50% repeat-y;
    display: flex;
    margin-top: 150px;
    justify-content: space-around;
    overflow: hidden;
}
.services-img {
    width: 100%;
}
.red-menu-img {
    position: absolute;
    z-index: -1;
}
.services_feature {
    line-height: 1.5;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-align: center;
    transform: scale(0);
    opacity: 0;
    transition: opacity .3s ease-in-out;
}
.services_feature-0 {
    opacity: 1;
    animation: zoom-in .3s ease-in-out .5s 1 both;
}
.services_feature-1 {
    opacity: 1;
    animation: zoom-in .3s ease-in-out 1s 1 both;
}
.services_feature-2 {
    opacity: 1;
    animation: zoom-in .3s ease-in-out 1.5s 1 both;
}
.services_feature-3 {
    opacity: 1;
    animation: zoom-in .3s ease-in-out 2s 1 both;
}
.services_feature-4 {
    opacity: 1;
    animation: zoom-in .3s ease-in-out 2.5s 1 both;
}
@keyframes zoom-in {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    70% {
      transform: scale(1);
    }
    80% {
      transform: scale(.85);
    }
    90% {
      transform: scale(1);
    }
    95% {
      transform: scale(.93);
    }
    100% {
      opacity: 100%;
      transform: scale(1);
    }
}

.services_feature-icon {
    position: relative;
    height: 94px;
    width: 94px;
}
.services_feature-icon::before,
.services_feature-icon::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
}
.services_feature-icon::before {
    left: 0;
    bottom: 0;
    border-left: 1px solid #fff;    
    border-bottom: 1px solid #fff;
}
.services_feature-icon::after {
    right: 0;
    top: 0;
    border-right: 1px solid #fff;    
    border-top: 1px solid #fff;
}
.services_feature-title {
    font-family: "Montserrat-Bold";
    text-transform: uppercase;
}
.services_feature-discription {
    font-family: "Montserrat-Light";
}